@import "~@/style/import"
.upload-box-out
  text-align: center
  position: relative

.to-library
  color: theme-green-dark
  &:hover
    color: darken(theme-green, 15%)

.upload-btn
  width: 232px
  height: 61px
  padding: 5px
  margin: 20px auto
  color: #fff
  background-color: dark-blue
  border-radius: 5px
  transition: all .2s ease-out
  font-size: 20px
  line-height: 1.2
  .upload-title
    font-size: 18px
  .upload-text
    font-size: 12px
    margin-top: 20px
    color: rgba(#fff, 0.65)
  &:hover
    box-shadow: 0 0 6px 0 #999
