@import "~@/style/import"
$head-hight = 60px

header
  height: $head-hight
  position: relative
  width: 100%
  top: 0
  left: 0
  padding: 0 20px
  color: #fff
  box-sizing: border-box
  background-color: dark-blue

.container
  width: 1140px
  margin: 0 auto
  padding: 0 30px
  height: 100%
  box-sizing: border-box
  background-color: dark-blue

.nav-logo
  height: $head-hight
  width: auto
  vertical-align: sub

.nav-list
  height: 100%
  float: right
  padding-left: 20px
  background-color: dark-blue

.nav-item
  margin: 0 10px
  padding: 0 18px
  display: inline-block
  height: $head-hight
  color: #fff
  font-size: 16px
  text-align: center
  background-color: dark-blue
  transition: border-color .3s, background-color .3s, color .3s
  &:hover
    border-bottom: dark-blue
  &:hover, &.is-active:hover
    background-color: rgba(0, 0, 0, .05)
  &.is-active
    background-color: rgba(0, 0, 0, .1)
    border-bottom: 4px solid theme-green
  .count
    font-size: 14px
    display: inline-block
    margin: 0 2px
    padding: 0 6px
    height: 20px
    line-height: 20px
    background: theme-green
    border-radius: 10px

.nav-button
  border: none

.left
  float: left

.right
  float: right

.user
  float: right
  padding: 0 6px
  margin-right: 6px
  height: 60px
  .identity
    display: flex
    flex-direction: column
    justify-content: center
    float: left
    height: 60px
    margin: 0 12px
    font-size: 14px
    color: #fff
    text-align: left
    .nick
      font-size: 12px
      opacity: .8
  img
    float: left
    height: 50px
    width: 50px
    margin-top: 5px
    border-radius: 25px
    background: lightgray
