@import "~@/style/import"

.paid
  padding-bottom: 20px
  width: 800px
  .tip
    margin: 90px 0 6px
  .pay-success
    font-size: 16px
    color: theme-green-dark
    i
      margin-right: 5px
  .detail
    margin: 0 auto
    width: 100%
    font-size: 16px
    color: theme-text-color
  .footer
    margin: 90px auto 20px
  .order
    transition: background-color .2s ease-out
