@import "~@/style/import"

.paid
  width: 800px
  padding-bottom: 20px
  .tip
    margin: 6px 0
    margin-top: 90px
  .pay-success
    color: theme-green-dark
    font-size: 16px
    i
      margin-right: 5px
  .detail
    width: 100%
    margin: 0 auto
    font-size: 16px
    color: theme-text-color
  .footer
    margin: 90px auto 20px
  .order
    transition: background-color .2s ease-out
