@import "~@/style/import"

.pay-modal
  align-content: center
  flex-direction: column
  border-radius: 4px
  background-color: #fff
  text-align: center
  header
    font-size: 16px
    margin-top: 20px

.paybox
  min-height: 300px
  width: 520px
  text-align: center
  position: relative
  transition: height .2s ease-out
  .price
    width: 100%
    margin-top: 0
    font-size: 36px
    color: #000
  .tip
    width: 100%
    font-size: 16px
    color: #069
  .QR-box
    margin: 10px auto
    width: 280px
    height: 280px
    text-align: center
    vertical-align: middle
  .switch
    width: 140px
    height: 38px
    margin: 0 10px
    padding: 8px 0
    text-align: center
    border: 1px solid #ccc
    border-radius: 5px
    font-size: 13px
    color: #666
    background-color: transparent
  .footer
    width: 100%
    font-size: 12px
    color: #999
    padding: 14px 0
  .wxPay-code
    width: 240px
    height: 240px
    margin: 0 auto
    margin-top: 20px
  .aliPay-iframe
    height: 260px
    border: none
    margin-left: -42px

.payway
  display: flex
  width: 80%
  margin: 30px auto
  justify-content: space-around
  font-size: 12px
  .wechat, .alipay
    display: inline-block
    width: 172px
    height: 172px
    border: 1px solid #ddd
    border-radius: 5px
    padding-top: 16px
    cursor: pointer
    &:hover
      box-shadow: 0 0 8px 0 #bbb
    .title
      width: 126px
      height: 39px
    .QR-icon
      margin-top: 13px
    .way-tip
      margin-top: 8px
      color: #666


