@import "~@/style/import"

.page-content
  width: 90%
  height: 100%
  .page
    overflow-y: scroll
    margin: 0 auto
    padding-left: 8px
    height: 100%
    text-align: center
    scrollbar()
    .page-list
      margin: 126px auto 0
      img
        margin: 10px auto 0
        min-width: 50%
        max-width: 98%
        min-height: 80%
        box-shadow: 0 0 10px 0 shallow-text-gray
      .gray
        filter: grayscale(100%)
        filter: gray
      .last-tip
        margin-bottom: 140px
        padding: 10px 0
        height: 80px
        font-size: 14px
        color: #ddd
  .loading
    margin-top: 30px
    margin-bottom: 30px
    width: 100%
    text-align: center
    .text
      margin-top: 10px
      font-size: 16px
      color: #ddd
