@import "~@/style/import"

.page-box
  overflow-y: scroll
  margin: 0 auto
  height: 100%
  text-align: center
  &::-webkit-scrollbar
    display: none
  .page-list
    img
      margin-bottom: 10px
      min-width: 50%
      max-width: 100%
      box-shadow: 0 0 10px 0 shallow-text-gray
    .gray
      filter: grayscale(100%)
      filter: gray
  .last-tip
    margin-bottom: 140px
    padding: 10px 0
    height: 80px
    font-size: 14px
    color: #bbb
  .loading
    margin-top: 30px
    margin-bottom: 30px
    width: 100%
    text-align: center
    .text
      margin-top: 10px
      font-size: 16px
      color: #bbb
