@import "~@/style/import"
.box-card
  margin: 10px auto
  border-radius: 3px
  width: 1080px
  background-color: #fff
  box-shadow: 0 0 4px 1px #ddd

.card-header
  border-bottom: 1px dashed #ddd
  padding: 8px 0

.card-title
  margin-left: 18px
  border-left: 3px solid blue-dark
  padding-left: 12px
  font-size: 18px
  color: blue-dark

.card-body
  padding: 20px
