@import "~@/style/import"
.print-file-item
  margin: 0 auto 16px
  width: 1000px

.print-file
  border: 1px solid #ddd
  border-radius: 4px
  position: relative
  font-size: 16px
  text-align: left
  color: shallow-text-gray
  background-color: #fff
  .valid-index
    position: absolute
    padding-left: 4px
    font-size: 12px
    color: #bbb
  .logo-holder
    display: inline-block
    position: absolute
    border-right: 1px dashed #ddd
    width: 100px
    height: 100%
    text-align: center
    .logo
      position: relative
      top: 50%
      margin-top: -40px
      img
        width: 55px
      div
        font-size: 14px
        color: shallow-text-gray
  .file-info
    display: inline-block
    position: absolute
    top: 50%
    left: 120px
    margin-top: -40px
    height: 80px
    line-height: 2em
    .name
      overflow: hidden
      max-width: 340px
      white-space: nowrap
      text-overflow: ellipsis
    .source
      overflow: hidden
      margin-top: 18px
      width: 280px
      font-size: 14px
      white-space: nowrap
      text-overflow: ellipsis
      color: #999

.file-upload
  height: 138px
  .processor
    .process-bar
      position: absolute
      width: 0
      height: 100%
      background: rgba(theme-green, 0.25)
      transition: all .2s ease-out
    .loading-info
      position: absolute
      top: 50%
      right: 120px
      margin: -35px 20px 0 auto
      height: 70px
      font-size: 16px
      line-height: 1.8em
      text-align: center
      .uploading
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
        height: 100%
        line-height: 1.28
        color: theme-text-color
        .percentage, .analysing
          font-size: 28px
          .loading
            position: absolute
            top: 18px
            left: -24px
            margin-right: 14px
            text-align: center
        .speed
          font-size: 14px
          color: #999


.delete
  position: absolute
  right: 0
  margin: 10px 0
  border-left: 1px solid #ddd
  width: 120px
  height: 85%
  font-size: 14px
  text-align: center
  color: #333
  .control
    position: relative
    top: 50%
    margin: -45px auto
    width: 120px
    height: 100px
    font-size: 13px
    text-align: center
    z-index: 1
    & > div
      padding: 8px 0 0
    .tip
      font-size: 12px
      color: #999
    .del-btn
      margin: 4px 0 0
      border: none
      padding: 0
      font-size: 13px

.print-choice
  position: relative
  margin: 0 130px 0 auto
  width: 420px
  height: 88px
  ul
    display: block
    position: absolute
    right: 0
    margin: 20px 0
    height: 70px
    font-size: 13px
  li
    display: block
    float: left
    position: relative
    margin: 0 10px
    text-align: center
  .selectors
    position: relative
    margin-top: 10px
    height: 28px
  .colors, .sides
    width: 85px
  .layouts, .copies
    width: 80px

.setting
  display: block
  overflow: hidden
  position: relative
  left: 45%
  margin-bottom: 10px
  width: 450px
  font-size: 14px
  .print-area
    display: inline-block
    margin: 0 10px 10px
    text-align: center
    .area-tip
      margin: 0 5px 0 10px
    .lingkage-are span
      margin: 0 4px
    .sizeside
      width: 160px
    & > span
      margin-right: 2px
  .print-area-input
    width: 43px

