@import "~@/style/import"

.user-header
  display: flex
  justify-content: center
  padding: 0 0 20px 0
  .avatar
    display: flex
    align-items: center
    cursor: pointer
    img
      width: 50px
      height: 50px
      border-radius: 25px
      background-color: #eee
    .tips
      display: inline-block
      margin: 0 16px
      font-size: 14px
      color: #000

.user-info, .pass-form
  font-size: 14px
  color: shallow-text-gray
  .row
    margin: 10px auto
    width: 380px
    .item-input
      width: 240px
    & >>> .el-form-item__error
      padding: 0



.pass-form
  margin-bottom: 30px
  .row
    margin: 6px auto
  .plain-button
    padding: 10px 4px
  .footer-button
    margin: 15px 0 25px 25px
    padding: 0
    width: 280px
    height: 26px

.division
  display: block
  margin: 20px auto
  font-size: 14px
  &::before, &::after
    content: ''
    display: inline-block
    margin: auto 10px
    width: 20%
    border-top: dashed 1px

.footer
  margin: 30px 0
  .footer-button
    margin: 0 20px
    padding: 0
    width: 80px
    height: 32px
    transition: all .2s ease-out
    &:hover
      box-shadow: 0 0 6px 0 #999
