@import "~@/style/import"

.user-header
  display: flex
  justify-content: center
  padding: 0 0 20px 0
  .avatar
    display: flex
    align-items: center
    img
      width: 50px
      height: 50px
      border-radius: 25px
      background-color: #eee
    .nickname
      display: inline-block
      margin: 0 16px
      font-size: 28px
      color: theme-text-color

.user-info
  padding-left:60px
  font-size: 16px
  text-align: left
  color: deep-black
  .row
    display: flex
    margin: 20px 0
    span
      flex: 1

.footer
  display: flex
  align-items: center
  justify-content: center
  margin: 20px 0
  width: 100%
  height: 60px
  text-align: center
  .footer-button
    margin: 0 20px
    padding: 0
    width: 120px
    height: 32px
    background: theme-text-color
    transition: all .2s ease-out
    &:hover
      background-color: theme-color
      box-shadow: 0 0 6px 0 #999
