{
  "presets": [
    ["env", { "targets": { "node": "current" } } ],
    "stage-2"
  ],
  "comments": false,
  "plugins": ["transform-vue-jsx", "transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "istanbul"]
    }
  }
}
