@import "~@/style/import"
.account
  padding-bottom: 20px
  width: 100%
  height: auto
  font-size: 16px
  color: shallow-text-gray

.print-project
  display: flex
  margin: 0 auto 6px
  padding-top: 10px
  width: 960px
  .left-part
    padding-right: 3%
    padding-bottom: 6px
    width: 53%
    .print-place
      left: 0
      margin-top: 12px
      .place-name
        font-size: 16px
        font-weight: 600
        color: theme-green-dark
    .project
      display: block
      margin-bottom: 15px
    .coupon
      display: flex
      align-items: center
      border: none
      font-size: 13px
      background: none
      outline: none
      .coupon-select
        width: 240px
  .right-part
    display: flex
    flex-direction: column
    justify-content: space-between
    border-left: 1px solid #ddd
    padding: 8px 0 6px 26px
    width: 48%
    min-height: 290px
    .title
      margin-bottom: 4px
      color: blue-dark
    .radio
      display: flex
      align-items: center
      padding: 4px 0
      width: 100%
      font-size: 15px
    .dispatch
      color: deep-text-gray
      .dispatch-info
        display: block
        margin: 10px 0
        width: 250px
        text-align: start
      .nickname, .phone
        width: 200px
      .address, .message
        width: 300px

.project-account
  margin-top: 12px
  width: 100%
  tr
    display: block
    border-bottom: 1px solid #ddd
    &:first-child td
      font-weight: 700
    td
      width: 200px
      height: 35px
      font-size: 14px
      &:first-child
        width: 300px

.account-info
  align-self: flex-end
  text-align: right
  .original-money
    margin-top: 20px
    font-size: 15px
    color: #888
  .final-money
    margin: 5px 0
    font-size: 15px
    span
      margin-left: 12px
      font-size: 24px
      color: theme-green-dark
  .to-submit
    margin-top: 7px
    border: none
    border-radius: 5px
    width: 150px
    height: 46px
    font-size: 16px
    color: #fff
    background: theme-green-dark
    outline: none
