@import "~@/style/import"

.manage-board
  display: inline-block
  margin-bottom: 12px
  width: 850px
  vertical-align: top
  background-color: #fff
  box-shadow: 0 0 4px 1px #ddd

.inform-header
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 20px
  height: 40px
  background: theme-text-color
  h1
    font-size: 16px
    font-weight: 400
    color: #fff
.inform-container
  selector-tabs(125px, 35px, 14px)

.infom-list
  margin-top: 28px
  padding: 0 55px

.empty-tip
  font-size: 14px
  line-height: 1.5
  color: shallow-text-gray

.pages
  display: flex
  justify-content: flex-end
  align-items: center
  padding: 8px 40px 18px
  font-size: 12px
  .infom-count
    display: inline-block
    color: #aaa
  .pagination
    display: inline-block


