@import "~@/style/import"

.manage-board
  display: inline-block
  margin-bottom: 12px
  width: 850px
  vertical-align: top
  background-color: #fff
  box-shadow: 0 0 4px 1px #ddd

.inform-header
  margin-bottom: 20px
  height: 40px
  background: theme-text-color
  h1
    font-size: 16px
    font-weight: 400
    line-height: 40px
    color: #fff
.inform-container
  padding-bottom: 16px
  .infom-tab
    display: table
    overflow: hidden
    margin: 20px auto 26px
    border: 1px solid #ccc
    border-radius: 6px
    height: 35px
    background: none
    .select
      border: none
      min-width: 120px
      height: 100%
      font-size: 14px
      line-height: 35px
      color: #444
      background: transparent
      &:not(:last-child)
        border-right: 1px solid #ccc
      &.is-active
        color: #fff
        background: theme-text-color
.infom-list
  margin-top: 28px
  padding: 0 55px

.empty-tip
  font-size: 14px
  line-height: 1.5
  color: shallow-text-gray

.pages
  padding: 8px 40px 18px
  font-size: 12px
  line-height: 24px
  text-align: right
  .infom-count
    display: inline-block
    color: #aaa
  .pagination
    display: inline-block


