@import "~@/style/import"
.print-point-item
  display: inline-block
  overflow: hidden
  position: relative
  margin: 10px 20px
  box-sizing: border-box
  border: 1px solid #ddd
  border-radius: 4px
  padding-bottom: 4px
  width: 400px
  text-align: left
  vertical-align: top
  white-space: nowrap
  cursor: pointer
  &:hover
    box-shadow: 0 0 6px 2px #eee
  .announce
    border-top: 1px solid #eee
    padding-top: 4px
    width: 100%
    text-align: center
    color: #f63
  &.selected
    border-left: 4px solid theme-green-dark
    width: 840px
    transition: all .3s ease-out
    cursor: auto
    &:hover
      box-shadow: none
  &.no-running
    cursor: not-allowed
    &:hover
      box-shadow: none
  .no-running-tip
    display: flex
    flex-direction: column
    justify-content: flex-end
    position: absolute
    top: 0
    left: 0
    border-radius: 6px
    width: 100%
    height: 100%
    text-align: center
    .title
      padding: 8px 0
      font-size: 28px
      color: #aaa
      background-color: rgba(#fff, .8)
    .msg
      padding: 4px 10px
      background-color: rgba(#fff, .8)

.box
  display: flex
  .price
    flex-grow: 1
    border-left: 1px dashed #ddd
    width: 240px
    vertical-align: top
    .price-title
      font-size: 16px
      margin: 10px 0 0 14px
      color: theme-text-color
      i
        padding-right: 4px
        .min-charge
          font-size: 14px
    .price-list
      overflow-x: hidden
      overflow-y: auto
      margin: 6px auto 10px
      width: 90%
      height: 100px
      scrollbar 6px
      &::-webkit-scrollbar
        width: 6px
      .price-item
        display: flex
        align-items: center
        justify-content: space-between
        margin: 0 auto
        border-bottom: 1px solid #f3f3f3
        padding: 0 2px
        width: 86%
        height: 24px
        color: #555
        &.invalid
          color: #bbb
  .discount
    display: inline-block
    border-left: 1px dashed #ddd
    width: 200px
    vertical-align: top
    .discount-title
      margin: 10px 0 8px 14px
      font-size: 16px
      color: theme-text-color
      i
        padding-right: 4px
      .min-charge
        font-size: 14px
    .favor
      margin: 6px 16px
      font-size: 13px
      color: #096

  .info
    flex-grow: 1
    padding-bottom: 4px
    vertical-align: top
    .pic-div
      display: inline-block
      width: 138px
      height: 138px
      vertical-align: top
      img
        margin: 8% 0 8% 9%
        width: 84%

.detial-div
  display: inline-block
  border: none
  padding: 0 0 6px 8px
  width: 250px
  vertical-align: top
  .point-name
    margin-top: 6px
    font-size: 18px
    color: theme-text-color
  .addr
    margin-top: 2px
    font-size: 14px
    color: theme-green-dark
    i
      margin-right: 6px
  .print-type
    margin-top: 4px
  .gray-text
    color: #ccc
  .favor
    margin-top: 6px
    color: theme-green-dark
