@import "~@/style/import"
.text
  font-size: 14px

.item
  padding: 18px 0

.selector-group
  margin: 4px auto 10px
  text-align: center

.tip
  margin-right: 20px
  font-size: 14px
  color: #0e90d2

.account-tips
  padding: 50px 0
  width: 100%
  font-size: 16px
  text-align: center
  color: #999

