@import "~@/style/import"
.text
  font-size: 14px

.item
  padding: 18px 0

.selector-group
  margin: 4px auto 10px
  text-align: center

.tip
  margin-right: 20px
  font-size: 14px
  color: blue-text

.account-tips
  padding: 50px 0
  width: 100%
  font-size: 16px
  text-align: center
  color: #999

.file-tips
  position: relative
  top: 20px
  header
    text-align: center
  .to-library
    color: theme-green-dark
    &:hover
      color: darken(theme-green, 15%)
