@import "~@/style/import"

header
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  border-radius: 4px 4px 0 0
  padding: 8px
  width: 1080px
  height: 60px
  font-size: 16px
  background-color: #fff
  box-shadow: 0 0 4px 1px #ddd
  .left-part
    .back
      display: inline-block
      border-radius: 6px 0 0 6px
      border-right: solid 1px #bbb
      padding: 8px
      width: 80px
      font-size: 14px
      text-align: center
      vertical-align: middle
      color: gray-text
      transition: border .2s ease, background-color .2s ease
      i
        font-size: 20px
        vertical-align: middle
        color: #bbb
      span
        margin-left: 4px
        vertical-align: middle
      &:hover
        cursor: pointer
        border-color: #eee
        background-color: #eee
  .right-part
    .user
      width: 180px
      padding: 4px 0 4px 8px
      transition: background-color .2s ease
      &:hover
        cursor: pointer
        background-color: #eee
      img
        width: 36px
        height: 36px
        border-radius: 50%
        vertical-align: middle
      .description
        display: inline-block
        margin-left: 6px
        vertical-align: middle
        .name
          width: 120px
          overflow: hidden
          font-size: 14px
          white-space: nowrap
          text-overflow: ellipsis
          color: blue-text
        .time
          font-size: 12px
          color: gray-text

.brief
  margin: 0 auto 10px
  box-shadow: 0 1px 4px 1px #ddd
  border-radius: 0 0 4px 4px
  padding: 10px 20px
  height: 38px
  font-size: 12px
  color: shallow-text-gray
  background-color: #fff
  i
    margin-right: 8px
    color: blue-text
  .category
    overflow: hidden
    max-width: 600px
    white-space: nowrap
    text-overflow: ellipsis
  .reading
    margin: 0 10px
    border-left: solid 1px gray-text
    padding: 0 15px

.title
  display: inline-block
  margin-left: 8px
  vertical-align: middle
  .folder
    img
      max-width: 38px
      vertical-align: middle
    .description
      display: inline-block
      margin-left: 2px
      vertical-align: middle
      .name
        overflow: hidden
        max-width: 700px
        font-size: 16px
        white-space: nowrap
        text-overflow: ellipsis
        color: deep-black
        .type
          display: inline-block
          margin-right: 4px
          border-radius: 4px
          width: 48px
          font-size: 12px
          text-align: center
          vertical-align: middle
          color: #fff
          background: green
        .text
          display: inline-block
          vertical-align: middle
      .attribute
        font-size: 12px
        color: gray-text
        i
          margin-right: 8px
          color: blue-text
        .intro
          display: inline-block
          overflow: hidden
          max-width: 500px
          vertical-align: bottom
          white-space: nowrap
          text-overflow: ellipsis
        .files
          margin: 0 8px
          border-left: solid 1px gray-text
          padding: 0 15px
