@import "~@/style/import"


.login-modal
  position: absolute
  width: 400px
  max-height: calc(100vh - 48px)
  outline: 0
  box-shadow: 0 5px 20px 0 rgba(deep-text-gray, .5)
  .login-inner
    overflow: auto
    border-radius: 2px
    background: #fff
    .close
      position: absolute
      top: 8px
      right: -60px
      border: none
      padding: 12px
      font-size: 18px
      color: #ddd
      background-color: transparent
      &:hover
        color: #ddd
    .login-content
      flex: 1
      margin-top: 0
      padding: 0 24px 32px
      line-height: 1.7
      opacity: 1
      .plain-button
        border: none
        border-radius: 0
        padding: 0
        text-align: center
        color: gray-bluish-inconspicuous-text
        background-color: transparent

.login-header
  margin: 0 -24px
  padding: 24px 0 28px
  background: blue-dark
  .login-header-title
    font-size: 24px
    text-align: center
    color: #fff
  .login-header-subTitle
    margin-top: 4px
    font-size: 14px
    text-align: center
    color: #fff

.login-flow
  overflow: hidden
  margin-top: 0
  .flow-account
    margin-top: 16px
    margin-bottom: 0
  .flow-password, .flow-nickname
    position: relative
    margin-top: 12px
    margin-bottom: 0
    .password, nickname
      input.el-input__inner
        font-size: 24px
        letter-spacing: 1.8px
  .endMask
    position: absolute
    right: 0
    margin-top: -15%
    padding: 10px 0 0 10px
    height: 90%
    font-size: 14px
    text-align: right
    color: rgba(red, .8)
    background: #fff
    opacity: 1
    cursor: text
    &:before
      position: absolute
      top: 0
      left: -16px
      width: 16px
      height: 46px
      background: linear-gradient(90deg, transparent, #fff)
      content: ""
  .el-input
    input.el-input__inner
      border: none
      border-bottom: 1px solid border-gray
      border-radius: 0
      padding: 0 3px
      height: 48px
      font-size: 14px
      font-weight: bold
      line-height: 24px
      text-align: start
      background: none
    .el-input-group__prepend, .el-input-group__append
      padding: 0
      border: none
      border-radius: 0
      background: none
    .el-input-group__prepend
      .el-select
        margin: 0
        .el-input__icon
          width: auto
        .el-input__inner:focus
          box-shadow: none
        &:hover .el-input__inner
          border-bottom: 1px solid border-gray
    .el-input-group__append
      border-bottom: 1px solid border-gray
      .el-button
        margin: 0
      .syssee
        font-size: 16px
  .el-form-item.is-error .el-input__inner
    border-color: border-gray
  .login-options
    margin-top: 16px
  .el-button.switch-type, .forget-pass
    display: inline-block
    border: none
    border-radius: 0
    padding: 0
    height: auto
    font-size: 14px
    line-height: inherit
    text-align: center
    color: blue-induce-text
    background: none
  .forget-pass
    float: right
    color: gray-bluish-inconspicuous-text
  .submit
    margin-top: 32px
    border-radius: 3px
    padding: 0
    width: 100%
    font-size: 14px
    line-height: 32px
    color: #fff
    background: blue-dark
  .login-footer
    margin-top: 22px
    text-align: center
    .footer-text, .footer-separate
      display: inline-block
      font-size: 15px
      vertical-align: middle
      color: gray-bluish-inconspicuous-text
    .footer-separate
      width: 6%
