@import "~@/style/import"

.accept-content
  margin-top: 24px
  .accept-container
    box-shadow: 0 -1px 0 0 #eee
  .accept-account
    margin-top: 24px

.backButton
  position: relative
  top: 28px
  height: 17px

.accept-header
  padding-top: 23px
  text-align: center
  .accept-title
    font-size: 24px
    color: deep-black
  .accept-subtitle
    font-size: 14px
    color: gray-bluish-inconspicuous-text

.await-time
  font-size: 14px

.accept-footer-container
  padding: 0 58px
  text-align: center
  .enter
    margin: 72px auto 0
