@import "~@/style/import"

.order-detail
  width: 100%
  margin: 0
  padding: 0 40px
  text-align: left
  color: deep-black
  .back
    position: relative
    top: -58px
    left: -20px
    font-size: 16px
    color: rgba(#fff, .8)
    transition: color .3s ease-out
    &:hover
      color: #fff

.over-title
  color: theme-text-color
  font-size: 18px
  line-height: 28px
  height: 28px
  padding-left: 12px
  border-left: 3px solid theme-text-color

.over-money
  font-size: 18px
  color: theme-text-color

.over-none
  color: #ccc

.overview
  margin-top: -32px
  .overview-info
    display: inline-block
    width: 362px
    margin-left: 16px
    margin-top: 18px
    vertical-align: top
    li
      line-height: 30px
      font-size: 14px
    .order-state
      display: inline-block
      text-align: center
      line-height: 20px
      height: 20px
      padding: 0 8px
      border-radius: 7px
      color: #fff
  .overview-inform
    margin-top: 26px
    font-size: 14px
    color: #f90
    text-align: center

.content
  margin-top: 20px
  .content-detail
    margin-top: 10px
    margin-left: 28px
    .content-line
      font-size: 12px
      width: 718px
      height: 42px
      line-height: 42px
      padding-left: 8px
      border-bottom: 1px solid #ddd
      &.line-header
        color: theme-text-color
      span
        display: inline-block
      .download
       color: induce-text-color
      .item-index
        width: 38px
      .item-name
        width: 240px
      .item-pages
        width: 54px
      .item-layer
        width: 55px
      .item-paper
        width: 80px
      .item-color
        width: 52px
      .item-side
        width: 54px
      .item-copies
        width: 40px
      .item-field
        width: 200px
      .item-unit
        width: 192px
      .item-count
        width: 184px

.bill-amount
  margin-top: 10px
  margin-right: 30px
  .money-bottom
    float: right
    font-size: 14px
    text-align: right
    margin: 10px 0 20px
