@import "~@/style/import"
.spinning
  visibility: visible
  position: static
  opacity: 1
  .spin-dot
    display: inline-block
    position: relative
    width: 32px
    height: 32px
    text-align: center
    vertical-align: middle
    &:after, &:before
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      border-radius: 50%
      background-color: blue-light
      opacity: .6
      animation: spin-bounce 2.4s infinite ease-in-out
      content: ""
    &:after
      animation-delay: -1.2s
