@import "~@/style/import"
.control
  position: fixed
  top: 10px
  left: 0
  width: 100%
  .print-file-item
    box-shadow: 0 0 8px 0 #999
    .page-panel
      padding-top: 4px
      color: #069
      .count
        font-size: 18px
    .tip
      padding-top: 7%
      font-size: 12px
      color: #999
    .close
      position: absolute
      top: 30%
      right: -50%
      .close-btn
        border-radius: 30px
        width: 30px
        height: 30px
        font-size: 20px
        line-height: unset
        text-align: center
        background-color: #fff
        opacity: .9
        box-shadow: 0 0 12px 0 #999
        cursor: pointer
        &:hover
          color: #fff
          background-color: blue-dark
          opacity: 1
          transition: all .2s ease-out

.pagination
  position: fixed
  bottom: 20px
  width: 100%
  text-align: center
  .panel
    display: inline-block
    border-radius: 4px
    padding: 6px
    font-size: 12px
    color: #fff
    background-color: rgba(#000, .4)
