@keyframes fade-in
  0%
    opacity: .1
  to
    opacity: 1


.fade-enter, .fade-leave-to
  opacity: 0

.fade-enter-active, .fade-leave-active
  transition: opacity .2s ease

.fade-enter-to, .fade-leave
  opacity: 1


.float-fade-enter
  opacity: .1
  transform: translateY(20px)

.float-fade-enter-active
  transition: all .2s ease-out

.float-fade-enter-to
  opacity: 1
  transform: translateY(0)


.left-fade-enter, .left-fade-leave-to
  opacity: .1
  transform: translateX(20px)

.left-fade-enter-active, .left-fade-leave-active
  transition: all .3s ease-out

.left-fade-enter-to
  opacity: 1
  transform: translateX(0)


@keyframes flicker
  0%
    opacity: 1
  50%
    opacity: .8
  to
    opacity: 1

@keyframes zoom-in
  0%
    transform: scale(.9)
  to
    transform: scale(1)

.zoom-in
  animation: zoom-in .2s ease-out

@keyframes spin-bounce
  0%, to
    transform: scale(0)
  50%
    transform: scale(1)


