.fade-enter-active
  transition: opacity .2s ease-out

.fade-enter
  opacity: 0

@keyframes zoomIn
  0%
    -webkit-transform: scale(.9)
    transform: scale(.9)
  to
    -webkit-transform: scale(1)
    transform: scale(1)

.float-fade-enter
  opacity: .1
  -webkit-transform: translateY(20px)
  transform: translateY(20px)

.float-fade-enter-active
  transition: all .2s ease-out

.float-fade-enter-to
  opacity: 1
  -webkit-transform: translateY(0)
  transform: translateY(0)

@keyframes flicker
  0%
    opacity: 1
  50%
    opacity: .8
  to
    opacity: 1

.zoom-in
  animation: zoomIn .2s ease-out
  -moz-animation: zoomIn .2s ease-out
  -webkit-animation: zoomIn .2s ease-out
  animation-iteration-count: 1
  -webkit-animation-iteration-count: 1
  -moz-animation-iteration-count: 1



