@import './_variables'
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption
  padding: 0
  margin: 0
  list-style: none
  font-style: normal
  text-decoration: none
  border: none
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: antialiased
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:focus
    outline: none

body
  background-color: global-background-color
  line-height: 1.5
  scrollbar()
