@import "./_variables"
selector-area-height = 26px
selector-font-size = 13px
selector-dropdown-font-size = 12px

.el-input
  font-size: selector-font-size
  .el-input__inner,
  &.is-without-controls .el-input__inner
    border-radius: 6px
    padding: 10px
    height: selector-area-height
    text-align: center

.el-select
  margin: 0
  width: auto
  font-size: selector-font-size
  text-align: center
  &:hover
    .el-input__inner
      border-color: blue-light
  .el-input__inner
    border-radius: 6px
    padding-right: 24px
    height: selector-area-height
    text-align: center
    &:focus
      outline: 0
      box-shadow: 0 0 0 2px rgba(blue-light, 0.2)

.el-select-dropdown__list
  padding: 0

.el-select-dropdown__item
  padding: 7px 15px
  height: auto
  font-size: selector-dropdown-font-size

.el-upload__tip
  margin: 0
  font-size: selector-font-size
  color: #666

.el-input-number
  .el-input-number__decrease, .el-input-number__increase
    border: none
    width: 20px
    line-height: selector-area-height
  .el-input-number__decrease
    right: auto
    left: 0
