// Colors

green-tinge = #c8ffc8
green-light = #0d6
green-dark = #096

blue-light = #57c5f7 // 2db7f5
blue-pure = #20a0ff
blue-text = #0e90d2
blue-dark = #0f88eb
blue-induce-text = #175199

orange-deep = #f90

descrip-back = #f9f9f9
color-banner-back = #fbf7f4
global-background-color = #f2f2f2
border-gray = #e7eaf1
gray-text = #999
gray-bluish-inconspicuous-text = #8590a6
shallow-text-gray = #666
deep-black = #333
deep-text-gray = #222


theme-color = blue-pure
theme-green = green-light
theme-green-light = green-tinge
theme-green-dark = green-dark
theme-text-color = blue-text

scrollbarWidth = 8px

// Scrollbar
scrollbar(barWidth=scrollbarWidth)
  &::-webkit-scrollbar
    width: barWidth
    height: barWidth
    background-color: rgba(#000, .05)
    &-thumb
      border-radius: barWidth
      background-color: rgba(#000, .15)
      &:active
        background-color: rgba(#000, .3)

.left
  float: left

.right
  float: right

.gray
  color: #fff
  background-color: #999

.orange
  color: #fff
  background-color: orange-deep

selector-tabs(width=150px, height=30px, fontsize=12px)
  .selector-tabs
    display: flex
    justify-content: center
    font-size: 0
    background: none
    .selector-item
      margin: 0
      border: 1px solid #ccc
      min-width: width
      height: auto
      font-size: fontsize
      line-height: height
      text-align: center
      color: shallow-text-gray
      &.is-active
        color: #fff
        background: theme-text-color
      &:first-of-type
        border-radius: 6px 0 0 6px
      &:last-of-type
        border-radius: 0 6px 6px 0
      &:not(:first-of-type)
        margin-left: -1px
