@import "~@/style/import"
.area-select
  display: inline-block
  position: relative
  box-sizing: border-box
  width: auto
  vertical-align: middle
  color: #666

.selecter
  margin: 0 20px
  width: 160px
