@import "~@/style/import"
.area-select
  width: auto
  box-sizing: border-box
  display: inline-block
  position: relative
  vertical-align: middle
  color: #666

.selecter
  width: 160px
  margin: 0 20px
