@import "~@/style/import"
.description
  width: 100%
  text-align: center
  .flow
    text-align: center
    width: 100%
    margin: 60px auto

.depicts
  height: 420px
  background-color: descrip-back
  &:nth-of-type(2n)
    background-color: transparent
    figure img
      float: right
    figure figcaption
      float: left
  figure
    max-width: 1400px
    margin: 0 auto
    img
      float: left
      margin: 80px 100px 0
    figcaption
      float: right
      margin: 150px 160px 0
      p
        line-height: 38px
        color: shallow-text-gray
        font-size: 14px
        &:first-of-type
          font-size: 26px
          margin-bottom: 10px
          color: deep-text-gray
