@import "~@/style/import"
.upload-box-out
  text-align: center

.upload-btn
  margin: 20px auto
  border-radius: 5px
  padding: 5px
  width: 232px
  height: 60px
  font-size: 20px
  line-height: 1.2
  color: #fff
  background-color: blue-dark
  transition: all .2s ease-out
  .upload-title
    font-size: 18px
  .upload-text
    margin-top: 20px
    font-size: 12px
    color: rgba(#fff, 0.65)
  &:hover
    box-shadow: 0 0 6px 0 #999
