@import "~@/style/import"
.upload-dragger
  display: inline-block
  position: relative
  box-sizing: border-box
  padding: 20px 0
  width: 100%
  height: auto
  text-align: center
  background-color: transparent
  cursor: default
  &.dragover
    position: relative
    &::before
      position: absolute
      top: 0
      left: 0
      z-index: 2
      box-sizing: border-box
      border: 2px dashed theme-color
      border-radius: 6px
      padding-top: 20px
      width: 100%
      height: 100%
      font-size: 24px
      text-align: center
      color: #096
      background: rgba(theme-green-light, .6)
      animation: fade-in .3s ease-out
      content: "释放即可添加文件"
